server {
    listen 80;
    server_name ${NGINX_HOST};   
    error_page 500 502 503 504 /50x.html;
 
    location / {
        proxy_pass         http://${NODEJS_HOST}:${NODEJS_PORT};
    }

    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}